{% extends "base.html" %}

{% block head %}
<title>Create an account</title>
{% endblock %}

{% block body %}
  <h1>Create an account</h1>
  <form action="." method="post">
  {% csrf_token %}
  
    {% if form.errors %}
      <p class="error">Please correct the errors below.</p>
    {% endif %}

    {% if form.errors.username %}
      <span class="error">{{ form.errors.username }}</span>
    {% endif %}
    <label for="{{ form.username.id }}">Username:</label> {{ form.username }}<br />

    {% if form.errors.password1 %}
      <span class="error">{{ form.errors.password1 }}</span>
    {% endif %}
    <label for="{{ form.password1.id }}">Password: {{ form.password1 }}<br />

    {% if form.errors.password2 %}
      <span class="error">{{ form.errors.password2 }}</span>
    {% endif %}
    <label for="{{ form.password2.id }}">Password (again): {{ form.password2 }}<br />

    <input type="submit" value="Create your account" />&nbsp;&nbsp;or&nbsp;&nbsp; 
    <a href="/">Go back to the homepage</a></p>
  </label>
{% endblock %}